<%= form_with(model: client, local: true, class: 'form-group') do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('register_date') %>
    <%= form.datetime_local_field :register_date, id: :client_date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('budge') %>
    <%= form.text_field :budge, id: :client_budge, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('insured') %>
    <%= form.text_field :insured, id: :client_insured, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('cnpj') %>
    <%= form.text_field :cnpj, id: :client_cnpj, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('itens') %>
    <%= form.text_area :itens, id: :client_itens, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('current_bonus') %>
    <%= form.number_field :current_bonus, id: :client_current_bonus, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('insured_type') %>
    <%= form.select :insured_type, @types, {}, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label t('supervisor') %>
    <%= form.text_field :supervisor, id: :client_supervisor, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('supervisor_email') %>
    <%= form.text_field :supervisor_email, id: :client_supervisor_email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('supervisor_phone') %>
    <%= form.text_field :supervisor_phone, id: :client_supervisor_phone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('supervisor_cellphone') %>
    <%= form.text_field :supervisor_cellphone, id: :client_supervisor_cellphone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('director') %>
    <%= form.text_field :director, id: :client_director, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('director_email') %>
    <%= form.text_field :director_email, id: :client_director_email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('director_phone') %>
    <%= form.text_field :director_phone, id: :client_director_phone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('director_cellphone') %>
    <%= form.text_field :director_cellphone, id: :client_director_cellphone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('last_bonus') %>
    <%= form.number_field :last_bonus, id: :client_last_bonus, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('validity') %>
    <%= form.datetime_local_field :validity, id: :client_validity, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('insurer') %>
    <%= form.select :insurer, @insurers, {}, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label t('assistant') %>
    <%= form.select :assistant, @employees, {}, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label t('commercial_supervisor') %>
    <%= form.select :commercial_supervisor, @employees, {}, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label t('city') %>
    <%= form.text_field :city, id: :client_city, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('estate') %>
    <%= form.text_field :estate, id: :client_estate, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('obs') %>
    <%= form.text_area :obs, id: :client_obs, class: 'form-control' %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Confirmar', class: 'btn btn-success' %>
  </div>
<% end %>
