<p>
  <strong><%= t('register_date') %>:</strong>
  <%= @client.register_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong><%= t('budge') %>:</strong>
  <%= @client.budge %>
</p>

<p>
  <strong><%= t('insured') %>:</strong>
  <%= @client.insured %>
</p>

<p>
  <strong><%= t('cnpj') %>:</strong>
  <%= @client.cnpj %>
</p>

<p>
  <strong><%= t('itens') %>:</strong>
  <%= @client.itens %>
</p>

<p>
  <strong><%= t('current_bonus') %>:</strong>
  <%= number_to_currency(@client.current_bonus, unit: "R$ ", separator: ",", delimiter: ".") %>
</p>

<p>
  <strong><%= t('insured_type') %>:</strong>
  <%= @client.insured_type %>
</p>

<p>
  <strong><%= t('supervisor') %>:</strong>
  <%= @client.supervisor %>
</p>

<p>
  <strong><%= t('supervisor_email') %>:</strong>
  <%= @client.supervisor_email %>
</p>

<p>
  <strong><%= t('supervisor_phone') %>:</strong>
  <%= number_to_phone(@client.supervisor_phone, pattern: /(\d{2})(\d{4})(\d{4})$/) %>
</p>

<p>
  <strong><%= t('supervisor_cellphone') %>:</strong>
  <%= number_to_phone(@client.supervisor_cellphone, pattern: /(\d{2})(\d{5})(\d{4})$/) %>
</p>

<p>
  <strong><%= t('director') %>:</strong>
  <%= @client.director %>
</p>

<p>
  <strong><%= t('director_email') %>:</strong>
  <%= @client.director_email %>
</p>

<p>
  <strong><%= t('director_phone') %>:</strong>
  <%= number_to_phone(@client.director_phone, pattern: /(\d{2})(\d{4})(\d{4})$/) %>
</p>

<p>
  <strong><%= t('director_cellphone') %>:</strong>
  <%= number_to_phone(@client.director_cellphone, pattern: /(\d{2})(\d{5})(\d{4})$/) %>
</p>

<p>
  <strong><%= t('last_bonus') %>:</strong>
  <%= number_to_currency(@client.last_bonus, unit: "R$ ", separator: ",", delimiter: ".") %>
</p>

<p>
  <strong><%= t('validity') %>:</strong>
  <%= @client.validity.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong><%= t('insurer') %>:</strong>
  <%= @client.insurer %>
</p>

<p>
  <strong><%= t('assistant') %>:</strong>
  <%= @client.assistant %>
</p>

<p>
  <strong><%= t('commercial_supervisor') %>:</strong>
  <%= @client.commercial_supervisor %>
</p>

<p>
  <strong><%= t('city') %>:</strong>
  <%= @client.city %>
</p>

<p>
  <strong><%= t('estate') %>:</strong>
  <%= @client.estate %>
</p>

<p>
  <strong><%= t('obs') %>:</strong>
  <%= @client.obs %>
</p>

<%= link_to t('buttons.edit'), edit_client_path(@client), class: 'btn btn-warning' %>
<%= link_to t('buttons.back'), clients_path, class: 'btn btn-danger' %>
